@import "../../styles/config/variables.scss";

.login {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    @media screen and (max-width: 1239px) {
        width: auto;
        padding: 10px;
    }
    form {
        .input-container {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            label {
                width: 40%;
            }
            input {
                width: 60%;
                padding: 15px;
                border: 1px solid $grey;
                &[type="submit"] {
                    background-color: $grey;
                    color: white;
                    border: none;
                    font-weight: bold;
                    width: 100%;
                    margin-top: 20px;
                    padding: 20px;
                }
            }
        }
    }
}
.error {
    margin-bottom: 20px;
}